body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #09090b;
  color: white;
  font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

a {
  color: #9146ff;
}
