@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #09090b;
  color: white;
  font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

a {
  color: #9146ff;
}
